* {
	font-family: Arial, sans-serif;
	font-size: 16px;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.title {
	font-size: 2rem;
	margin-bottom: 1.2em;
}

.container {
	width: 50%;
	margin: 0 auto;
	text-align: center;
	border: 2px solid #567;
	margin-top: 2em;
	padding: 1em 3em;
	border-radius: 15px;
	background: linear-gradient(to bottom, lightcyan, lightgreen, lightgrey, lightseagreen);
}

.main-navigation ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	max-width: 75%;
	margin: 0 auto;
	padding: .5rem;
}

.main-navigation a {
	display: inline-block;
	text-decoration: none;
	padding: .5em 1.5em;
}

.main-navigation a:hover {
	color: black;
	background-color: antiquewhite;
	border-radius: 15px;
}

.fieldset {
	padding: 1.5em;
}

.log-title {
	font-size: 1.4rem;
	margin-bottom: 1rem;
}

.subtitle {
	font-size: 1.2rem;
	margin-bottom: .7rem;
	color: blue;
}

.wrapper {
	width: 75%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

.column {
	flex-direction: column;
}

.form-label {
	flex: 1;
}

.input-field {
	display: inline-block;
	padding: .5em;
	width: 50%;
	border: 2px solid blue;
	border-radius: 15px;
	margin-bottom: 1.1em;
	flex: 2;
}

.textarea {
	width: 100%;
}

.btn {
	display: inline-block;
	background: linear-gradient(to right, lightblue, white, lightcyan);
	padding: .5em 2.7em;
	border-radius: 15px;
	margin-bottom: .8em;
	cursor: pointer;
	text-align: center;
}

.btn:hover {
	background: lightblue;
	color: white;
}

.delete_btn {
	color: red;
	text-decoration: none;
	padding: .3em .4em;
	margin-left: .5em;
}

.delete_btn:hover {
	outline: 2px solid red;
	color: red;
}

.message {
	font-size: 1.2rem;
	color: white;
	margin-bottom: .8em;
}

.error {
	color: red;
	font-weight: 700;
	font-size: 1.3rem;
}

.log {
	font-size: 1.1rem;
	padding: 1.2em;
	border: 2px solid blue;
	border-radius: 15px;
	margin-bottom: 2em;
}

.log-item {
	padding: 1.3em;
	margin-bottom: .4em;
}

.post-list {
	list-style: none;
	max-width: 60%;
}

.post-title {
	text-align: left;
	font-size: 1.1rem;
}

.post-content {
	text-align: left;
	font-size: .9rem;
}